<!doctype html>
<html>
    <head>
        <title>NPN Data Quality</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/jquery-ui.css">
    </head>
    <body>
        <script type="text/javascript" src="static/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/lib/jquery-ui@1.12.1.js"></script>
        <script type="text/javascript" src="static/js/common.js"></script>
        <script type="text/javascript" defer src="static/js/wind_profiler.js"></script>
        <script src="static/js/lib/chart.js@2.8.0"></script>
        <div id="pageHeader">
            <div id="pageHeaderImageDiv">
                <img id="pageHeaderImage" src="static/img/ROC_logo.png">
            </div>
            <div id="pageHeaderTitleDiv">NPN Data Quality</div>
        </div>
        <div id="accordion">
        <h3>Data Source</h3>
            <div id="dataSourceDiv">
                <div style="display:inline-block">
                <fieldset>
                    <legend>NPN Data Source:</legend>
                    <label for="rocstar-1">ROCSTAR1</label>
                    <input type="radio" name="data-source" id="rocstar-1">
                    <label for="rocstar-2">ROCSTAR2</label>
                    <input type="radio" name="data-source" id="rocstar-2">
                    <label for="weather-gov">WEATHER.GOV</label>
                    <input type="radio" name="data-source" id="weather-gov">
                </fieldset>
                </div>
                <div style="display:inline-block">
                <fieldset>
                    <legend>Model Data Source:</legend>
                    <label for="hrrr">HRRR</label>
                    <input type="radio" name="model-data-source" id="hrrr">
                    <label for="nam">NAM-3km-nest</label>
                    <input type="radio" name="model-data-source" id="nam">
                </fieldset>
                </div>
            </div>
        <h3>Data Display</h3>
        <div id="tabs" class="container">
            <ul>
                <li><a id="profiles" href="#profileComparison">Compare Profiles</a></li>
                <li><a id="differences" href="#profileDifferences">Profile Differences</a></li>
                <li><a id="model" href="#modelCheck">Model Check</a></li>
                <li tabindex="0"><a id="availability" href="#heightAvailability">Height Availability</a></li>
                <li><select style="width:100px;" id="selectSite"></select></li>
                <li><input autocomplete="off" id="selectDate" type="text"></option></li>
                <p style="display:inline">
                    <label for="model-hour-offset">Model Offset (Hrs):</label>
                    <input id="model-hour-offset" value=0 name="model-hour-offset">
                </p>
                <div id="avgPeriod" style="display:none">
                    <div style="display:inline-block">Averaging Time Period:</div>
                    <div style="display:inline-block" class="widget">
                        <label for="oneDay">1 Day</label>
                        <input type="radio" name="avg-period-radio" id="oneDay">
                        <label for="oneWeek">1 Week</label>
                        <input type="radio" name="avg-period-radio" id="oneWeek">
                        <label for="oneMonth">1 Month</label>
                        <input type="radio" name="avg-period-radio" id="oneMonth">
                    </div>
                </div>
                <div id="maxHeight" style="display:inline">
                    <label for="max-height">Max Height (km) :</label>
                    <input id="max-height" name="max-height">
                    <button id="set-max-height">Set Height</button>
                </div>
            </ul>
            <img id="loaderGif" style="z-index:99" src="static/img/ajax-loader.gif"></img>
            <div id="profileComparison">
                <div style="position:absolute;width:1280px;height:420px;top:65px;left:0px;">
                    <div id="profilerCanvas"></div>
                </div>
                <div style="position:absolute;width:1280px;height:450px;top:485px;left:0px;">
                    <div id="hrrrCanvas"></div>
                </div>
                <div class="controls-top-level">
                    <label class="switch">
                        <input name="comparison-qc" type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <p style="margin:0" id="comparison-qc-label">QC Off</p>
                </div>
                <div class="controls-top-level" style="left:950px;">
                    <label class="switch">
                        <input name="auto-update" type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <p style="margin:0; display:inline-block" id="auto-update-label">Auto-Update: Off</p>
                </div>
                <div class="controls-top-level" style="left:100px; width:100%;">
                    <fieldset style="position:absolute; z-index:99; border: none;">
                        <label for="compare-hourly">Hourly</label>
                        <input type="radio" checked="true" name="sample-interval-radio-compare" id="compare-hourly">
                        <label for="compare-6-min">6 Minute</label>
                        <input type="radio" name="sample-interval-radio-compare" id="compare-6-min">
                    </fieldset>
                </div>
                <script type="text/javascript" src="static/js/compare_profiles.js"></script>
            </div>
            <div id="profileDifferences">
                <canvas id="differencesPlotCanvas"></canvas>
                <script type="text/javascript" src="static/js/difference_profiles.js"></script>
                <a class="ui-button ui-widget ui-corner-all" id="saveDifferenceChart" download="test.png">Save as PNG</a>
                <select id="selectDifferenceVariable">
                    <option>Speed</option>
                    <option>Direction</option>
                </select>
                <div class="controls-top-level">
                    <label class="switch">
                        <input name="comparison-qc" type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <p style="margin:0" id="comparison-qc-label">QC Off</p>
                </div>
                <div class="controls-top-level" style="left:100px; width:100%;">
                    <fieldset style="position:absolute; z-index:99; border: none;">
                        <label for="differences-hourly">Hourly</label>
                        <input type="radio" checked="true" name="sample-interval-radio-differences" id="differences-hourly">
                        <label for="differences-6-min">6 Minute</label>
                        <input type="radio" name="sample-interval-radio-differences" id="differences-6-min">
                    </fieldset>
                </div>
            </div>
            <div id="modelCheck">
                <canvas id="modelPlotCanvas"></canvas>
                <script type="text/javascript" src="static/js/model_check.js"></script>
                <a class="ui-button ui-widget ui-corner-all" id="saveModelChart" download="test.png">Save as PNG</a>
                <select id="selectModelVariable">
                    <option>Speed</option>
                    <option>Direction</option>
                </select>
            </div>
            <div id="heightAvailability">
                <canvas id="availabilityPlotCanvas"></canvas>
                <script type="text/javascript" src="static/js/availability.js"></script>
            </div>
        </div>
        </div>
    </body>
</html>
