<!doctype html>
<html>
    <head>
        <title>NPN Data Quality - Speed Differences</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/jquery-ui.css">
    </head>
    <body>
        <script type="text/javascript" src="static/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/lib/jquery-ui.js"></script>
        <script src="static/js/common.js"></script>
        <script src="static/js/difference_profiles.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <div id="pageHeader">
            <div id="pageHeaderImageDiv">
                <img id="pageHeaderImage" src="static/img/ROC_logo.png">
            </div>
            <div id="pageHeaderTitleDiv">NPN Data Quality - Speed Differences</div>
        </div>
        <div id="controlsHeader">
            <select id="selectSite"></select>
            <input autocomplete="off" id="selectDate" type="text"></option>
            <div style="display:inline-block" class="widget">
                <fieldset>
                    <legend>Time Period:</legend>
                    <label for="oneDay">1 Day</label>
                    <input type="radio" name="avg-period-radio" id="oneDay">
                    <label for="oneWeek">1 Week</label>
                    <input type="radio" name="avg-period-radio" id="oneWeek">
                    <label for="oneMonth">1 Month</label>
                    <input type="radio" name="avg-period-radio" id="oneMonth">
                </fieldset>
            </div>
        </div>
        <div class="container">
            <img id="loaderGif" src="static/img/ajax-loader.gif"></img>
            <canvas id="plotCanvas"></canvas>
        </div>
    </body>
</html>
