<!doctype html>
<html>
    <head>
        <title>NPN Data Quality</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/jquery-ui.css">
    </head>
    <body>
        <script type="text/javascript" src="static/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/lib/jquery-ui@1.12.1.js"></script>
        <script type="text/javascript" src="static/js/index.js"></script>
        <script type="text/javascript" src="static/js/common.js"></script>
        <script type="text/javascript" src="static/js/lib/justgage/raphael-2.1.4.min.js"></script>
        <script type="text/javascript" src="static/js/lib/justgage/justgage.js"></script>
        <div id="pageHeader">
            <div id="pageHeaderImageDiv">
                <img id="pageHeaderImage" src="static/img/ROC_logo.png">
            </div>
            <div id="pageHeaderTitleDiv">NPN Data Quality</div>
        </div>
        <div id="controlsHeader">
            <select id="selectSite"></select>
            <input autocomplete="off" id="selectDate" type="text"></option>
            <button id="animate" alt="off" class="ui-button ui-widget ui-corner-all">Animate</button>
            <div style="display:inline-block">Averaging Time Period:</div>
            <div style="display:inline-block" class="widget">
                <label for="oneDay">1 Day</label>
                <input type="radio" name="avg-period-radio" id="oneDay">
                <label for="oneWeek">1 Week</label>
                <input type="radio" name="avg-period-radio" id="oneWeek">
                <label for="oneMonth">1 Month</label>
                <input type="radio" name="avg-period-radio" id="oneMonth">
            </div>
        </div>
        <div class="container">
            <div style="display:inline-block">
                <h2 style="text-align:center">Hourly Availability</h2>
                <div id="hourly-availability-gauge" style="width:430px; height: 320px;"></div>
            </div>
            <div style="display:inline-block">
                <h2 style="text-align:center">Mean Difference</h2>
                <div id="mean-diff-gauge" style="width:430px; height: 320px;"></div>
            </div>
            <div style="display:inline-block">
                <h2 style="text-align:center">Median Height Availability</h2>
                <div id="median-height-availability-gauge" style="width:430px; height: 320px;"></div>
            </div>
            <div>
                <h2 style="text-align:center">Overall Data Quality Index</h2>
                <div id="overall-dq-gauge" style="width:1300px; height: 500px;"></div>
            </div>
        </div>
    </body>
</html>
